@import "../variables.scss";

.communityPage__container__levels{
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0 0 10px 10px;

    &__header{
        height: 70px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__showCompletedLevels{
            display: flex;
            
            p{
                margin: 0 0 0 5px;
            }
        }

        &__chooseDifficulty{
            display: flex;
            align-items: center;
            flex-direction: column;

            &__options{
                width: 350px;
                display: flex;
                justify-content: space-between;
                margin: 10px 0 0 0;

                button{
                    width: 100px;
                    height: 30px;
                    border-radius: 5px;
                }
            }
        }

        &__createNew{
            width: 150px;
            height: 40px;
            border-radius: 5px;
        }
    }

    &__body{
        height: calc(100% - 70px);
        width: 100%;
        display: grid;
        overflow-x: hidden;
        justify-content: space-between;
        column-gap: 30px;
        row-gap: 20px;
        padding: 10px;
        grid-template-columns: repeat(auto-fill, 200px);

        &__message{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__taskContainer{
            width: 200px;
            height: 200px;
            position: relative;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.4);
                transition: all 0.5s ease;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 100px;
                    height: 100px;
                }

                &:hover{
                    opacity: 0;
                }
            }
        }
    }
}