.leaderboardSmall{
    width: 100%;
    height: 40px;
    position: absolute;
    top: -60px;
    display: flex;

    background-color: $mathRoomContainerBG;

    &__object{
        height: 100%;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 10px;

        h4{
            margin-right: 5px;
        }

        &:hover{
            background-color: $mathRoomLightGrey;
        }
    }
}