@import "../variables.scss";

.notification{
    position: fixed;
    z-index: 20;
    width: 500px;
    min-height: 100px;
    top: 0;
    right: 0;
    border-radius: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    animation: loadNotif 0.5s ease;
    font-family: $roomFont;
    background-color: $mathRoomContainerBG;

    &__left{
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1;

        p{
            font-size: 18px;
        }

        &__identifier{
            &__success,
            &__error,
            &__loading{
                width: 100px;
                height: 100px;
                margin: 0 10px 0 0;
            }

            &__success{
                background-color: $mathRoomGreen;
            }
        
            &__error{
                background-color: $mathRoomRed;
            }
        
            &__loading{
                background-color: $mathRoomYellow;
            }
        }
    
        
    }

    &__right{
        height: 100%;
        padding: 20px 10px 0 5px;

        &__close{
            width: 20px;
            height: 20px;
            position: relative;
            cursor: pointer;
    
            div{
                width: 2px;
                height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $mathRoomBlackText;
            }
    
            .line1{
                transform: rotate(45deg);
            }
    
            .line2{
                transform: rotate(-45deg);
            }
        }
    }

    @media screen and (max-width: 700px){
        width: 100%;
    }
}

@keyframes loadNotif{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}