@import "../variables.scss";

.credits{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $roomFont;
    background-color: $mathRoomDarkerPurple;

    &__container{
        overflow-y: scroll;
        width: 700px;
        height: 700px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        h1{
            font-size: 70px;
            color: $mathRoomContainerBG;
        }

        button{
            position: absolute;
            top: 10px;
            left: 10px;
            width: 150px;
            height: 40px;
            border-radius: 5px;
        }

        &__credit{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 10px 0;
            padding: 5px 10px;
            
            img{
                width: 50px;
            }

            h4{
                margin-left: 20px;
                font-size: 20px;
                color: $mathRoomContainerBG;

                span, 
                a{
                    color: $mathRoomLinkBlue;
                }
            }
        }
    }

    @media screen and (max-height: 800px) {
        &__container{
            height: 600px;
        }
    }

    @media screen and (max-height: 650px) {
        &__container{
            height: 100%;
        }
    }

    @media screen and (max-width: 800px) {
        &__container{
            width: 600px;

            button{
                position: relative;
                margin: 10px 0;
                padding: 10px;
            }
        }
    }

    @media screen and (max-width: 650px) {
        &__container{
            width: 100%;
            height: 100%;
        }
    }

    @media screen and (max-width: 400px) {
        &__container{
            &__credit{
                h4{
                    font-size: 16px;
                }
            }
        }
    }
}