@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Righteous&display=swap");

$mathRoomGrey: #474747;
$mathRoomLightGrey: #EBEBEB;
$mathRoomLinkBlue: #336DC3;
$mathRoomBlueStripe: #3EAAAC;
$mathRoomBG: #38A3A5;
$mathRoomButton: #82678F;
$mathRoomButtonHover: #6e537c;
$mathRoomContainerBG: #ffffff;
$mathRoomBlackText: #000000;
$mathRoomRed: #C7465D;
$mathRoomGreen: #2D6D4E;
$mathRoomYellow: #F1EC78;
$mathRoomDarkPurple: #35293A;
$mathRoomDarkerPurple: #2B222F;

$roomFont: "Aldrich", sans-serif;
$menuFont: "Righteous", cursive;

$headingSize: 90px;
$buttonText: 20px;

$levelGreen: #64D970;
$levelYellow: #FDF76F;
$levelOrange: #FAB360;
$levelRed: #DC5D5D;