@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

$mathRoomGrey: #474747;
$mathRoomLightGrey: #EBEBEB;
$mathRoomBlueStripe: #3EAAAC;
$mathRoomBG: #3EAAAC;
$mathRoomButton: #82678F;
$mathRoomButtonHover: #6e537c;
$mathRoomContainerBG: #ffffff;
$mathRoomBlackText: #000000;
$mathRoomRed: #C7465D;

$roomFont: "Aldrich", sans-serif;