@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Righteous&display=swap");

$mathRoomGrey: #474747;
$mathRoomLightGrey: #EBEBEB;
$mathRoomBlueStripe: #3EAAAC;
$mathRoomBG: #3EAAAC;
$mathRoomButton: #82678F;
$mathRoomButtonHover: #6e537c;
$mathRoomContainerBG: #ffffff;
$mathRoomBlackText: #000000;
$mathRoomRed: #C7465D;
$mathRoomGreen: #2D6D4E;
$mathRoomYellow: #F1EC78;

$roomFont: "Aldrich", sans-serif;
$menuFont: "Righteous", cursive;