@import "../variables.scss";

.menu{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: $roomFont;
    background-color: $mathRoomDarkerPurple;

    &__container{
        width: 700px;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;

        h1{
            z-index: 2;
            font-size: $headingSize;
            color: $mathRoomContainerBG;
            font-family: $menuFont;
        }

        &__options{
            margin-top: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            z-index: 2;

            .button{
                width: 300px;
                height: 40px;
                margin: 0 0 20px 0;
                border-radius: 5px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all 0.3s ease;
                font-size: $buttonText;
                color: $mathRoomContainerBG;
                background-color: $mathRoomButton;

                &:hover{
                    background-color: $mathRoomButtonHover;
                }

                &__play{
                    background-color: $mathRoomRed;

                    &:hover{
                        background-color: $mathRoomRed;
                    }
                }
            }
        }

        &__decorations{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .image{
                z-index: 2;
                position: absolute;

                &1{
                    left: 100px;
                    bottom: 200px;
                }

                &2{
                    right: 100px;
                    bottom: 100px;
                }

                &3{
                    top: 50px;
                    right: 500px;
                }
            }

            .line{
                position: absolute;
                background-color: $mathRoomDarkPurple;

                &1{
                    width: 153.38px;
                    height: 839.03px;
                    left: -37.91px;
                    top: 351.93px;
                    background: #35293A;
                    transform: matrix(0.95, 0.28, -0.3, 0.96, 0, 0);
                }

                &2{
                    width: 189.55px;
                    height: 896.91px;
                    left: 194.46px;
                    top: 254px;
                    
                    background: #35293A;
                    transform: matrix(0.95, 0.28, -0.3, 0.96, 0, 0);
                }

                &3{
                    width: 153.38px;
                    height: 839.03px;
                    left: 337.09px;
                    top: 561px;
                    
                    background: #35293A;
                    transform: matrix(0.95, 0.28, -0.3, 0.96, 0, 0);
                }

                &4{
                    width: 153.38px;
                    height: 839.03px;
                    left: 577.8px;
                    top: 447.69px;
                    
                    background: #35293A;
                    transform: matrix(0.95, 0.28, -0.3, 0.96, 0, 0);
                }

                &5{
                    width: 271.03px;
                    height: 839.03px;
                    left: 801.09px;
                    top: 372px;
                    
                    background: #35293A;
                    transform: matrix(0.95, 0.28, -0.3, 0.96, 0, 0);
                }

                &6{
                    width: 153.38px;
                    height: 793.87px;
                    left: 1050.57px;
                    top: 612px;
                    
                    background: #35293A;
                    transform: matrix(0.95, 0.28, -0.3, 0.96, 0, 0);
                }

                &7{
                    width: 153.38px;
                    height: 839.03px;
                    left: 1351.09px;
                    top: 308px;
                    
                    background: #35293A;
                    transform: matrix(0.95, 0.28, -0.3, 0.96, 0, 0);
                }

                &8{
                    width: 153.38px;
                    height: 793.87px;
                    left: 1461.57px;
                    top: 624px;
                    
                    background: #35293A;
                    transform: matrix(0.95, 0.28, -0.3, 0.96, 0, 0);
                }
            }
        }
    }

    @media screen and (max-width: 1375px){
        &__container{

            &__decorations{
                .image{
                    &2{
                        right: 50px;
                    }

                    &3{
                        right: 300px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1245px){
        &__container{
            &__decorations{
                .image{
                    &1{
                        left: 50px;
                        bottom: 50px;
                    }

                    &2{
                        right: 20px;
                        bottom: 50px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1125px){
        &__container{
            &__decorations{
                .image{
                    &2{
                        right: 50px;
                        width: 300px;
                        bottom: 80px;
                    }

                    &3{
                        right: 200px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 955px){
        &__container{
            &__decorations{
                .image{
                    &1{
                        width: 200px;
                    }

                    &2{
                        right: 50px;
                        width: 250px;
                        bottom: 80px;
                    }

                    &3{
                        right: 200px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 695px){
        &__container{
            h1{
                font-size: 60px;
            }

            &__decorations{
                .image{
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 400px){
        &__container{
            h1{
                font-size: 45px;
            }

            &__options{
                .button{
                    width: 270px;
                }
            }
        }
    }
}