@import "../variables.scss";

.menu{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: $roomFont;
    background-color: $mathRoomDarkerPurple;

    &__container{
        width: 700px;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;

        h1{
            z-index: 3;
            font-size: $headingSize;
            color: $mathRoomContainerBG;
            font-family: $menuFont;
        }

        &__options{
            margin-top: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            z-index: 3;

            &__two{
                width: 400px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 20px;

                button{
                    width: 190px;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    font-size: $buttonText;
                    color: $mathRoomContainerBG;
                    background-color: $mathRoomButton;

                    &:hover{
                        background-color: $mathRoomButtonHover;
                    }
                }
            }

            .button{
                width: 400px;
                height: 50px;
                margin: 0 0 20px;
                border-radius: 5px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all 0.3s ease;
                font-size: $buttonText;
                color: $mathRoomContainerBG;
                background-color: $mathRoomButton;

                &:hover{
                    background-color: $mathRoomButtonHover;
                }

                &__disabled{
                    background: $mathRoomButton;
                    opacity: 0.5;

                    &:hover{
                        background-color: $mathRoomButton;
                    }
                }

                &__gamemode{
                    background-color: $mathRoomBG;

                    &:hover{
                        background-color: $mathRoomBlueStripe;
                    }
                }
            }
        }

        &__decorations{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .image{
                z-index: 2;
                position: absolute;

                &1{
                    left: 100px;
                    bottom: 200px;
                }

                &2{
                    right: 100px;
                    bottom: 100px;
                }

                &3{
                    top: 50px;
                    right: 500px;
                }
            }
        }
    }

    &__containerUnloaded{
        h1{
            animation: loadTitle 6s ease;
        }

        .menu__container__optionsLoaded{
            animation: loadOptions 7s ease;
        }

        .menu__container__options{
            opacity: 0;
        }

        .menu__container__decorations{
            .image__loaded{
                animation: loadDecoration 7s ease;
            }

            .image{
                opacity: 0;
            }
        }
    }

    @media screen and (max-width: 1375px){
        &__container{

            &__decorations{
                .image{
                    &2{
                        right: 50px;
                    }

                    &3{
                        right: 300px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1245px){
        &__container{
            &__decorations{
                .image{
                    &1{
                        left: 50px;
                        bottom: 50px;
                    }

                    &2{
                        right: 20px;
                        bottom: 50px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1125px){
        &__container{
            &__decorations{
                .image{
                    &2{
                        right: 50px;
                        width: 300px;
                        bottom: 80px;
                    }

                    &3{
                        right: 200px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 955px){
        &__container{
            &__decorations{
                .image{
                    &1{
                        width: 200px;
                    }

                    &2{
                        right: 50px;
                        width: 250px;
                        bottom: 80px;
                    }

                    &3{
                        right: 200px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 695px){
        &__container{
            h1{
                font-size: 60px;
            }

            &__decorations{
                .image{
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 400px){
        &__container{
            h1{
                font-size: 45px;
            }

            &__options{
                .button{
                    width: 270px;
                }

                &__two{
                    width: 270px;
    
                    button{
                        width: 130px;
                    }
                }
            }
        }
    }
}

@keyframes loadTitle{
    0%{
        opacity: 0;
        margin-top: 200px;
    }
    50%{
        opacity: 1;
    }
    100%{
        margin-top: 0;
    }
}

@keyframes loadOptions{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        margin-top: 50px;
    }
}

@keyframes loadDecoration{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: rotate(720deg);
    }
}